$sans: "PT Sans", sans-serif;
$mono: "PT Mono", monospace;

$space: 1rem;

$font-size: 16px;

$list-indigo: #e8eaf6, #c5cae9, #9fa8da, #7986cb, #5c6bc0, #3f51b5, #3949ab, #303f9f, #283593, #1a237e, #8c9eff, #536dfe, #3d5afe, #304ffe;

$blue: #3F51B5;

$blue400: #5c6bc0;
$blue300: #7986cb;

$blue-light10: lighten($blue,10%);
$blue-light20: lighten($blue,20%);
$blue-light30: lighten($blue,30%);
$blue-dark10:  darken($blue,10%);
$blue-dark20:  darken($blue,20%);

$purple: #9C27B0; $accent: #9C27B0;
$purple-light10: lighten(#9C27B0,10%);
$purple-dark10: darken($purple,10%);

$easeInQuart: all 600ms cubic-bezier(0.895, 0.03, 0.685, 0.22);

body {
	font-family: $sans;
	font-size: $font-size;
	line-height: 145%;
	background-color: #eee;
}

p {
	margin-bottom: 1.3em;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
}

.wrapper {
	padding: $space*3;
}

.clearfloat {
	clear: both;
}

@media (min-width:800px) {
	.main {
		width: 40%;
		margin: 0 30%;
	}
}


// CARDS

.card-spacer-extend {
	padding-bottom: $space;
	border-bottom: 1px solid #e9e9e9;
	margin-bottom: $space;
}

.card {
	margin-bottom: $space*4;
	display: block;
	background-color: #fff;
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	animation-name: materialIn;
	animation-duration: 0.65s;
	animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	img {
		animation-name: fadeIn;
		animation-duration: 3s;
		animation-timing-function: $easeInQuart;
		padding: 0;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
	}
	& > * {
		padding: $space*3 $space*3 $space;
	}
	h2 {
		@extend .card-spacer-extend;
		padding-bottom: $space*2;
		font-size: 5vw;
		line-height: 5vw;
	}
	.card-content-capital {
		color: #222;
		@extend .card-spacer-extend;
		&::after {
			color: #777;
			content: 'Capital';
			font-weight: 500;
			font-size: 0.85em;
			display: block;
		}
	}
	.card-content-lat,.card-content-lng {
		font-family: $mono;
		width: 50%;
		float: left;
		// @extend .card-spacer-extend;
		// padding-bottom: $space;
		// border-bottom: 1px solid #e9e9e9;
		margin-bottom: $space;
		&::after {
			font-family: $sans;
			color: #777;
			content: '';
			font-weight: 500;
			font-size: 0.85rem;
			display: block;	
			line-height: 100%;
		}
	}
	.card-content-lat {
		&::after {
			content: 'lat';
		}
	}
	.card-content-lng {
		&::after {
			content: 'long';
		}
	}
	.card-content-maps {
		display: inline-block;
		text-decoration: none;
		clear: both;
		// @extend .card-spacer-extend;
	}
}

.svgFlag {
	width: 100%;
	height: auto;
	display: block;
	border: 1px solid #ccc;
}

@keyframes fadeIn {
	from {
		opacity: 0.1;
		filter: grayscale(100%) saturate(20%); 
		-webkit-filter: grayscale(100%) saturate(20%);
	}
	75% {
		opacity: 0.9;
		filter: grayscale(0%) saturate(80%);	
		-webkit-filter: grayscale(0%) saturate(80%);
	}
	to {
		opacity: 1;
		filter: grayscale(0%) saturate(100%);	
		-webkit-filter: grayscale(0%) saturate(100%);
	}
}

@keyframes materialIn {
	from {
		opacity: 0;
		transform: translateY(5rem);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes materialInShort {
	from {
		opacity: 0.6;
	}
	to {
		opacity: 1;
	}
}

// END CARDS

// search

.search {
	margin-bottom: $space*2;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
	animation-name: materialIn;
	animation-duration: 0.45s;
	animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	input {
		border: none;
		padding: 1rem 9px;
		padding-left: 5;
		max-width: 88%;
		width: 88%;
		color: #aaa;
		&:focus {
			border: none;
			outline: none;
		}
	}
}


.search-bar {
	max-width: 100%;
	border: 1px solid #bbb inset;
	background-color: #fff;
	color: #ccc;
}

.search-options {
	background-color: #fff;
	padding-left: 50px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	// border-bottom: 1px solid #ddd;
	transition: all 400ms ease;
	div {
		&:first-of-type {
			padding-top: $space;	
		}
		padding-bottom: $space;
		animation-name: materialInShort;
		animation-duration: 0.4s;
	}
}

.search-bar_focus {
	outline: none;
	border: 1px solid #4d90fe inset;
}

.search-icon {
	display: inline-block;
	width: 5%;
	vertical-align: middle;
	padding-left: $space;
	transition: all 400ms ease;
	transform: scale(0.6);
}

@media (max-width: 801px) {
	.search {
		margin-bottom: $space*1.5;
	}
	.search-icon {
		transform: scale(1);
	}
}
// end search

// buttons

.button {

	color: #fff;
	background-color: $blue;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);

    position: relative;
	padding: $space;
	// margin: 0 $space/2;

	text-transform: uppercase;
	font-size: $space;

	overflow: hidden;
	z-index: 2;

	transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0.2s;

    cursor: pointer;
    
	&:active {
		box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
		transition-delay: 0s;
	}
}

.button-flat {
	
	display: inline-block;

	float: right;

	padding: $space;
	margin: $space/2 $space/4;


	color: $blue300;

	text-decoration: none;
	text-transform: uppercase;
	font-weight: 700;
	font-size: $space;
	line-height: $space;
	&:hover {
		background-color: #ddd;
	}
}

// end buttons

// tooltips

.tooltip {
	position: absolute;
	background-color: #616161;
	border-radius: $space/4;
	font-weight: 700;
	color: #fff;
	display: none;
	padding: $space/4 $space;
	text-align: center;
	opacity: 0.0;
	transition: all 400ms ease;
	transform: translateY($space/2);
}

// end tooltips

// checkbox

.checkbox {
	margin: 0;
	-webkit-appearance: none;
	height: 2rem;
	width: 2rem;
	background-image: url("svg/ic_check_box_outline_blank_48px.svg");
	// background-color: red;
	margin: $space;
	transition: all 500ms ease;
	&:focus {
		outline: none;
	}
	&::after {
		position: absolute;
		transition: all 500ms ease;
		content: ' ';
		width: 4rem;
		height: 4rem;
		transform: translate(-1rem,-1rem);
		border-radius: 50%;
		background-color: transparent;
	}
	&:active::after {
		position: absolute;
		transition: all 500ms ease;
		content: ' ';
		width: 4rem;
		height: 4rem;
		transform: translate(-1rem,-1rem);
		border-radius: 50%;
		background-color: rgba(63,81,181,0.5);
	}
	&:checked {
		background-image: url("svg/ic_check_box_48px.svg");
		// background-color: blue;
	}
}

// end checkbox

// start media query
// TODO: move to a _mobile-theme.scss?
@media (max-width:800px) {
	.card {
		width: 100%;
		margin-bottom: $space*2;

		& > * {
			padding: $space;
		}
	}
	.wrapper {
		padding: $space;
	}
}
