$sans: "PT Sans", sans-serif;
$mono: "PT Mono", monospace;

$space: 1rem;

$font-size: 16px;

$list-indigo: #e8eaf6, #c5cae9, #9fa8da, #7986cb, #5c6bc0, #3f51b5, #3949ab, #303f9f, #283593, #1a237e, #8c9eff, #536dfe, #3d5afe, #304ffe;

$blue: #3F51B5;

$blue400: #5c6bc0;
$blue300: #7986cb;

$blue-light10: lighten($blue,10%);
$blue-light20: lighten($blue,20%);
$blue-light30: lighten($blue,30%);
$blue-dark10:  darken($blue,10%);
$blue-dark20:  darken($blue,20%);

$purple: #9C27B0; $accent: #9C27B0;
$purple-light10: lighten(#9C27B0,10%);
$purple-dark10: darken($purple,10%);

$easeInQuart: all 600ms cubic-bezier(0.895, 0.03, 0.685, 0.22);

body {
	font-family: $sans;
	font-size: $font-size;
	line-height: 145%;
	background-color: #eee;
}

p {
	margin-bottom: 1.3em;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
}

.wrapper {
	padding: $space*3;
}

.clearfloat {
	clear: both;
}

@media (min-width:800px) {
	.main {
		width: 40%;
		margin: 0 30%;
	}
}

// search

.search {
	margin-bottom: $space*2;
	animation-name: materialIn;
	animation-duration: 0.45s;
	animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	background-color: transparent;
	input {
		border: none;
		padding: 1rem 9px;
		padding-left: 5;
		max-width: 88%;
		width: 88%;
		color: #aaa;
		&:focus {
			border: none;
			outline: none;
		}
	}
}


.search-bar {
	max-width: 100%;
	border: 1px solid #bbb inset;
	background-color: #fff;
	color: #ccc;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
}

.search-options {
	background-color: #fff;
	padding-left: 50px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	// border-bottom: 1px solid #ccc;
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
	transition: all 400ms ease;
	div {
		&:first-of-type {
			padding-top: $space;	
		}
		padding-bottom: $space;
		animation-name: materialInShort;
		animation-duration: 0.4s;
	}
}

.search-bar_focus {
	outline: none;
	border: 1px solid #4d90fe inset;
}

.search-icon {
	display: inline-block;
	width: 5%;
	vertical-align: middle;
	padding-left: $space;
	transition: all 400ms ease;
	transform: scale(0.6);
}

@media (max-width: 801px) {
	.search {
		margin-bottom: $space*1.5;
	}
	.search-icon {
		transform: scale(1);
	}
}
// end search

// buttons

.button {

	color: #fff;
	background-color: $blue;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);

    position: relative;
	padding: $space;

	text-transform: uppercase;
	font-size: $space;

	overflow: hidden;
	z-index: 2;

	transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0.2s;

    cursor: pointer;
    
	&:active {
		box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
		transition-delay: 0s;
	}
}


.button-flat {
	
	display: inline-block;

	float: right;

	padding: $space;
	margin: $space/2 $space/4;

	color: $blue300;

	text-decoration: none;
	text-transform: uppercase;
	font-weight: 700;
	font-size: $space;
	line-height: $space;

	background-color: #fff;

	transition: all 300ms ease;

	&:hover {
		background-color: #eee;
	}
}

// end buttons

// tooltips

.tooltip {
	position: absolute;
	background-color: #616161;
	border-radius: $space/4;
	font-weight: 700;
	color: #fff;
	display: none;
	padding: $space/4 $space;
	text-align: center;
	opacity: 0.0;
	transition: all 400ms ease;
	transform: translateY($space/2);
}

// end tooltips

// ripple css

.rippled {
	overflow: hidden;
}

.ripple {
	position: relative;
	background-color: rgba(0,0,0,0.1);
	border-radius: 50%;
	overflow: hidden;
}

// ripple end

// start media query
// TODO: move to a _mobile-theme.scss?
@media (max-width:800px) {
	.card {
		width: 100%;
		margin-bottom: $space*2;

		& > * {
			padding: $space;
		}
	}
	.wrapper {
		padding: $space;
	}
}
