body {
  margin: 0;
  font-family: sans-serif; }

body {
  font-family: "PT Sans", sans-serif;
  line-height: 143%; }

.spinner-container {
  position: absolute;
  top: 50vh;
  left: 50vw;
  margin-top: -2rem;
  margin-left: -2rem;
  width: 4rem;
  height: 4rem; }

.spinner-text {
  position: relative;
  width: 500%;
  left: -200%;
  display: block;
  text-align: center;
  top: 1rem;
  font-family: "PT Mono", monospace;
  transition: all 400ms ease; }

.spinner {
  animation: rotator 1.4s linear infinite; }

@keyframes rotator {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(270deg); } }

.spinner-path {
  transition: all 400ms ease;
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
  stroke: #4285F4;
  animation: dash 1.4s ease-in-out infinite; }

@keyframes dash {
  0% {
    stroke-dashoffset: 187; }
  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg); }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg); } }
